html{
	scroll-behavior: smooth;
}

body{
	color:var(--texte-color);
}


a{
	color: var(--texte-color);
}

.visually-hidden{
	color: none;
}

.card-category{
	color: var(--color-primary);
}

.section-tagline{
	color : var(--color-primary);
}

:root {
	--color-primary: #d73953;
	--color-black:#090909;
	--color-white:#ffffff;
	--color-light-grey:#f3f3f3;
	--color-dark-grey:#353535;
	--texte-color: var(color-black);
}
